<% include partials/header %>
<div class="container maincontent">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campground from Republic of Bashkortostan</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a New Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Popular Campgrounds!</h3>
        </div>
    </div>
    
    <div class="form-row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <h4><%= campground.name %></h4>
                    <div class="caption">
                        <img class="img-fluid" alt="Responsive image" src="<%= campground.image %>">
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>
